* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#user-profile {
    display: flex;
    align-items: center;
}

button {
    padding: 5px;
    margin: 0 0 0 10px;
    height: 30px;
}

#user-profile img {
    margin: 0 10px 0 0;
    height: 32px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#paging-section {
    display: flex;
    align-items: center;
}

#paging-section span {
    margin: 5px;
}

#paging-section button {
    border-radius: 5px;
}

#character-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.character-item {
    background-color: pink;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-item img {
    width: 80%;
}